
  :root {
    --gray-0: #FFFFFF;
--gray-1: #F7F7F7;
--gray-2: #F3F3F3;
--gray-3: #EBEBEB;
--gray-4: #D4D4D4;
--gray-5: #AAAAAA;
--gray-6: #6A6A6A;
--gray-7: #303030;
--gray-8: #1F1F1F;
--gray-9: #0A0A0A;
--primary-5: #FFEDE5;
--primary-6: #FFDCCC;
--primary-7: #CC4000;
--primary-8: #993000;
--primary-9: #FF5000;
--dustRed-5: #FFF1F0;
--dustRed-6: #FFA39E;
--dustRed-7: #A8071A;
--dustRed-8: #820014;
--dustRed-9: #FF4D4F;
--sunsetOrange-5: #FFF7E6;
--sunsetOrange-6: #FFD591;
--sunsetOrange-7: #AD4E00;
--sunsetOrange-8: #873800;
--sunsetOrange-9: #FA8C16;
--calendulaGold-5: #FFFBE6;
--calendulaGold-6: #FFE58F;
--calendulaGold-7: #AD6800;
--calendulaGold-8: #874D00;
--calendulaGold-9: #FAAD14;
--sunriseYellow-5: #FEFFE6;
--sunriseYellow-6: #FFFB8F;
--sunriseYellow-7: #AD8B00;
--sunriseYellow-8: #876800;
--sunriseYellow-9: #FADB14;
--lime-5: #FCFFE6;
--lime-6: #EAFF8F;
--lime-7: #5B8C00;
--lime-8: #3F6600;
--lime-9: #A0D911;
--polarGreen-5: #F6FFED;
--polarGreen-6: #B7EB8F;
--polarGreen-7: #237804;
--polarGreen-8: #135200;
--polarGreen-9: #52C41A;
--cyan-5: #E6FFFB;
--cyan-6: #87E8DE;
--cyan-7: #006D75;
--cyan-8: #00474F;
--cyan-9: #13C2C2;
--blue-5: #E6F7FF;
--blue-6: #91D5FF;
--blue-7: #0050B3;
--blue-8: #003A8C;
--blue-9: #1890FF;
--geekBlue-5: #F0F5FF;
--geekBlue-6: #ADC6FF;
--geekBlue-7: #10239E;
--geekBlue-8: #061178;
--geekBlue-9: #2F54EB;
--goldenPurple-5: #F9F0FF;
--goldenPurple-6: #D3ADF7;
--goldenPurple-7: #391085;
--goldenPurple-8: #22075E;
--goldenPurple-9: #722ED1;
--magenta-5: #FFF0F6;
--magenta-6: #FFADD2;
--magenta-7: #9E1068;
--magenta-8: #780650;
--magenta-9: #EB2F96;
    --h-xsm: 16px;
--h-msm: 20px;
--h-sm: 24px;
--h-md: 32px;
--h-lg: 40px;
--h-xlg: 48px;
--h-xxlg: 56px;
--h-full: 100%;
--w-full: 100%;
--w-sm: 480px;
--w-md: 768px;
--w-lg: 1024px;
--w-xlg: 1280px;
  }
